/* Global Styles */

body {
  font-family: "Poppins", sans-serif;
}

/* Navigation */
nav {
  background-color: #f3cbf2;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo {
  height: 40px;
}

.title {
  font-size: 36px;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 10px;
  font-weight: bold;
}

#donate_link {
  color: black;
}

/* Landing Page */
/* Leading */
.leading {
  height: calc(100vh - 60px);
  background: url(images/happy_children.jpg) rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
}

.leading h1 {
  font-size: 10vmin;
}

.leading p {
  margin: 20px 0;
  font-size: 30px;
}

.leading a {
  padding: 6px 20px;
  background-color: #f3cbf2;
  border-radius: 6px;
  width: fit-content;
}

/* Our Work Section */
.work {
  margin-top: 40px;
  padding: 0 40px;
}

.work h1 {
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 40px;
}

.work_cards_container {
  display: flex;
  justify-content: space-between;
}

.work_card {
  width: 200px;
  background-color: #d9d9d9;
  margin: 10px;
}

.work_card img {
  width: 100%;
}

.work_card div {
  padding: 10px;
}

.work_card_title {
  font-weight: bold;
  margin-bottom: 6px;
}

.work_card_description {
  font-size: small;
}

/* Our Stories */
.stories {
  margin-top: 40px;
  padding: 0 40px;
}

.stories_container {
  display: flex;
  justify-content: space-between;
}

.stories h1 {
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 40px;
}

.story_card {
  width: 200px;
  background-color: #d9d9d9;
  margin: 10px;
  position: relative;
}

.story_card img {
  width: 100%;
}

.story_card p {
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

/* Footer */
footer {
  height: 50px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story_card .play {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 40px;
  right: 80px;
}

.hamburger {
  display: none;
}

/* Mobile Styles */
/* Navigation */
@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  .nav-link {
    display: none;
  }

  .title {
    font-size: 24px;
  }

  .hamburger {
    display: block;
  }

  .leading {
    text-align: center;
    padding-left: 0;
    align-items: center;
    background-position: center center;
  }

  .leading p {
    display: none;
  }

  .leading a {
    margin-top: 60px;
    width: 50%;
    height: 30px;
    font-size: 26px;
  }

  .work h1,
  .stories h1 {
    text-align: center;
  }

  .work_cards_container,
  .stories_container {
    flex-direction: column;
    align-items: center;
  }

  footer {
    margin-top: 50px;
  }
}

.mobile_nav {
  /* height: 200px; */
  background-color: #f3cbf2;
  padding: 0 20px;
  text-align: center;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
}

.mobile_nav a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  margin: 20px 0;
  color: white;
}

.close {
  display: none;
}
